@font-face {
    font-family: 'GTA';
    src: url('/pozdeev/MVC-site/vendor/webfonts/GTA Russian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

* {
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
}

.container form {
    width: 700px;
    padding: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    background-image: url("/pozdeev/MVC-site/public/images/payment/donaldDuck.jpg");
    background-size: cover;
    border-radius: 50px;
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 250px;
}

.col .title {
    font-size: 20px;
    color: rgb(237, 55, 23);
    padding-bottom: 5px;
}

.col .inputBox {
    margin: 15px 0;
}

.col .inputBox label {
    margin-bottom: 10px;
    display: block;
    color: white;
}

.col .inputBox input,
.col .inputBox select {
    width: 100%;
    border: 1px solid #000000;
    padding: 10px 15px;
    font-size: 15px;
}

.col .inputBox input:focus,
.col .inputBox select:focus {
    border: 1px solid #000;
}

.col .flex {
    display: flex;
    gap: 15px;
}

.col .flex .inputBox {
    flex: 1 1;
    margin-top: 5px;
}

.col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submitButton {
    font-family: GTA;
    font-size: 15px;
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 500px;
    background: #114461;
}

.container form .submitButton:hover {
    background-color: rgb(128, 128, 128);
    font-size: 30px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

/**/
.close-modal::before {
    content: '×';
    font-size: 100px;
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
    color: white;
}

/* */
.error-message {
    color: red;
    box-shadow: none;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 12px;
    opacity: 0.8;
    background-color: #114461;
    display: none;
}